bin/
build/
.classpath
.project
.gradle/
.settings/
.okhttpcache/
.idea/
*.iml
src/test/integration/test/.git/
src/test/integration/test/build/
src/test/integration/test/.gradle/
src/test/integration/test/build.gradle
src/test/integration/test/content
